<header>
    <div class="log-blog">
        {% if not is_granted('ROLE_ADMIN') %}
        <a href="{{ url('app.security.login') }}">Se connecter /  S'inscrire</a>
        {% else %}
        <a href="{{ url('app.security.logout') }}">Se deconnecter</a>
        {% endif %}
    </div>

<h1 class="title-blog">Asian Food In Paris</h1>


</header>