/***************************************************************************
                                  VARIABLES CSS
 ***************************************************************************/


*{
  padding: 0px;
  margin:0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// size image
$size-imgbloc:250px;

/***************************************************************************
                                  MIXIN CSS
 ***************************************************************************/

//Background img

@mixin img-url($url){

  background-image: url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

//Bloc flex

@mixin contain-block($border){

  display: flex;
  justify-content: space-around;

    div{
      border-radius:8px;
      border:$border;
    }
}









