
@import "utility/mixin", "utility/variable";



*{
  padding: 0px;
  margin:0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{

  height: 100%;
}


/***************************************************************************
                                HEADER
 ***************************************************************************/

.log-blog{

  text-align: right;
  background-color:#000000;
  padding: 10px;

  a{
    color: #FFFFFF;
    text-decoration: none;
    background-color:$c-pink;
    padding: 5px;
    border-radius: 8px;

  }

}













