.post-form{
  width:50%;
  border: solid 2px #8fd56c;
  margin:0 auto;
  text-align: center;

  label{
    font-size : 24px;
  }

  input, select, textarea{
    font-size:24px;
    margin:5px;
  }
}

.error-form{

  color: red;
}

