/***************************************************************************
                                  MIXIN CSS
 ***************************************************************************/

/*************************************************************************************
BACKGROUND ELEMENTS *******************************************************************
**************************************************************************************/

// Avec img.
@mixin img-url($url){

  background-image: url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

/*************************************************************************************
CONTAINER ELEMENTS *******************************************************************
**************************************************************************************/

// Conteneur de bloc images avec titre.

@mixin block-line-container($direction,$c-border,$line,$i-width:$img-250){

  display: $direction ;

  justify-content:$line; // values => space-between,space-around,center,flex-end,flex-start.

    div{
      width:25%;
    }

    h2{
      text-align:center;
      color:$c-white;
      font-size:24px;
      border-radius: 8px 8px 0px 0px;
      background-color:$c-green;
      padding: 5px;
      letter-spacing: 5px;
  }

    img{
      width: $i-width;
      border-radius:0px 0px 8px 8px;
      border:$c-border 4px solid;
  }

}


@mixin flex-container($direction,$position){

  display: $direction;
  justify-content: $position;
  
}

