// size image
$img-250:100%;

/********************************************************************************************************
                                                COLOR
 *******************************************************************************************************/

// darken => Opacité d'une couleur
// transparentize=> générer un RGBA

$c-white: #FFFF;    // Blanc
$c-green: #73B466;  // Gris
$c-pink:#D73888;     // Rose
