{% extends 'include/base.html.twig' %}

{% block body%}

        {% block header %}

            <h1>World Food In Paris</h1>

            {% endblock %}

    <main>

        <h3>Ou manger à Paris ? </h3>

    </main>

{% endblock %}